grant codeBase "file:/C:/Users/conno/Documents/College/Distributed_Systems_and_Co_Operative_Computing/Assignment_1" {
    permission java.security.AllPermission;
};